*{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
}
.calculator{
   width: 350px;
   margin: 0 auto;
    text-align:center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgb(51, 50, 50);
    font-size: 0;
}
.chead{
    width:350px;
    height:100px;
}
#monitor{
    width:95%;
    height: 95%;
    font-size: 2rem;
    padding: 0 5px;
    text-align: right;
    letter-spacing: 2px;
}
.btn{
    width:87px;
    height:85px;
    font-weight:bold;
    font-size: 1.5rem;
    background-color: rgb(48, 48, 48);
    color:white;
}
.btn2{
background-color:rgb(41, 5, 66);
}
.btn3{
    background-color:rgb(163, 106, 0);
}
.btn:hover{
    background-color: rgb(160, 4, 30);
}